/*  Hi! your going to write styles here in the next couple activities. */
.header { 
    height: 250px;
    max-height: 500px;
    background-image: url
} 

#pagetopic {
    text-align: center;
}

.colorContainer {
    display:inline-block;
}





